*{
  font-family: 'Karla', sans-serif;
}

body{
  color: #242424;
  background: #FCFCFC;
}

section{
  @apply my-20;
}

.bg-primary-text{
  @apply text-primary bg-secondary;
  padding: 1rem;
  display: inline-block;
  border-radius: 1rem;
  font-weight: 700;
}