*{
  font-family: 'Karla', sans-serif;
}

body{
  color: #242424;
  background: #FCFCFC;
}

section{
  @apply my-8 md:my-14 lg:my-20;
}

.bg-primary-text{
  @apply text-primary bg-secondary p-3 lg:p-4 text-sm lg:text-base;
  display: inline-block;
  border-radius: 1rem;
  font-weight: 700;
}